[Desktop Entry]
Name=Simplooper
GenericName=Audio Looper
Comment=Make audio loops
Categories=Audio;Utility;Recorder;Music;
Exec=com.github.asahnoln.simplooper
Icon=application-default-icon
Terminal=false
Type=application
Keywords=Looper;Microphone;Audio;Loop;Mic;
X-GNOME-UsesNotifications=true
